xacml-jsonpath-v4-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright OASIS Open 2025. All Rights Reserved. -->
<xs:schema xmlns:xacml="urn:oasis:names:tc:xacml:4.0:core:schema"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="urn:oasis:names:tc:xacml:4.0:jsonpath:schema"
	xmlns="urn:oasis:names:tc:xacml:4.0:jsonpath:schema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="https://www.w3.org/2001/xml.xsd"/>
	<xs:import namespace="urn:oasis:names:tc:xacml:4.0:core:schema"	schemaLocation="xacml-core-v4-schema.xsd" />

	<!-- Issue #5: adding support for JSONPath (RFC 9535) in AttributeSelector -->
	<xs:element name="JSONPathAttributeSelector" type="JSONPathAttributeSelectorType" substitutionGroup="xacml:AttributeSelector" />
	<xs:complexType name="JSONPathAttributeSelectorType">
		<xs:complexContent>
			<xs:extension base="xacml:AttributeSelectorType">
				<!-- JSONPath-specific parameter(s) -->
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="JSONPathEntityAttributeSelector" type="JSONPathEntityAttributeSelectorType"
		substitutionGroup="xacml:EntityAttributeSelector" />
	<xs:complexType name="JSONPathEntityAttributeSelectorType">
		<xs:complexContent>
			<xs:extension base="xacml:EntityAttributeSelectorType">
				<!-- JSONPath-specific parameter(s) -->
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
